<!-- navbar.html -->
<nav class="navbar navbar-expand-sm" style="background-color: #171717;">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="navbar-brand text-white">
                <p>{{ title }}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/breed">Breed Animal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/add">Add Animal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/remove">Remove Animal</a>
            </li>
        </ul>
    </div>
</nav>
